.header-container {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.logo {
    background: url(/assets/tic-tac-toe-logo.svg) no-repeat center;
    background-color: white;
    background-size: 5vh 5vh;
    min-height: 5vh;
    min-width: 5vh;
    padding-right: 10px;
}

.name {
    color: lightgrey;
    padding-left: 10px;
    font-size: 5vh;
    font-weight: 600;
}