<app-header></app-header>
<app-now-playing [opponent]=opponent [player]=player [currentPlayer]=currentPlayer (opponentChanged)=changeOpponent($event)></app-now-playing>
<div class="gameContainer">
    <app-board [cells]=cells [player]=player [opponent]=opponent (emitMove)=switchCurrentPlayer($event)></app-board>
</div>