.bubble {
	background-color: #fff;
	border-radius: 20px;
	border: 2px solid #f2f2f2;
	filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
	box-shadow: inset 0 1px 1px hsla(0,0%,100%,.5),
				4px 4px 0 hsla(0,0%,0%,.1);
	color: #333;
	display: inline-block;
	font: 16px/25px;
	padding: 15px 25px;
	position: absolute;
	right: 18vh;
	bottom: 3vh;
}
	
.bubble:after, .bubble:before {
	border-bottom: 25px solid transparent;
	border-right: 25px solid #fff;
	bottom: -25px;
	content: '';
	position: absolute;
	right: 25px;
}
.bubble:before {
	border-right: 25px solid hsla(0,0%,0%,.1);
	bottom: -28px;
	right: 22px;
	z-index: 1;
}
.bubble:before {
	border-right: 27px solid #f2f2f2;
	border-bottom: 27px solid transparent;
	bottom: -29px;
	right: 22px;
	z-index: 0;
}