.board {
    color: white;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.ribbon {
    height: 15vh;
    width: 15vh;
    background: url(/assets/ribbon-icon.svg) no-repeat center;
    background-color: white;
}

.error-bot {
    height: 18vh;
    width: 18vh;
    background: url(/assets/error-bot.svg) no-repeat center;
    background-color: white;
}

.gameStatusOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 55vh;
    min-width: 55vh;
    font-weight: 600;
}

.game-status-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default;
}

.error-label {
    cursor: default;
}

.status {
    text-align: center;
    font-size: 5vh;
    margin-top: 7vh;
    padding-left: 6vh;
    padding-right: 6vh;
}

.restart {
    text-align: center;
    color: gray;
    font-size: 3vh;
}

.error {
    text-align: center;
    margin-top: 7vh;
    padding-left: 7vh;
    padding-right: 7vh;
    font-size: 3vh;
}