<div data-id="board" class="board">
  <app-cell *ngFor="let cell of cells; let i = index" [cellValue] = cell
            [playerSymbol]=player.symbol [opponentSymbol]=opponent.symbol 
            (click)="makeMove(i, currentPlayer, getOpponentPlayer())"></app-cell>
</div>

<app-overlay *ngIf="showOverlay" (overlayClicked)="hideOverlay()">
    <div data-id="gameStatusOverlay" class="gameStatusOverlay">
        <span data-id="gameStatusLabel" class="game-status-label" *ngIf="showGameStatus">
            <div data-id="ribbon" class="ribbon"></div>
            <p class="status">{{gameStatusMessage}}</p>
            <p class="restart">click anywhere to restart</p>
        </span>
        <span data-id="errorLabel" *ngIf="showError" class="game-status-label">
            <div data-id="error-bot" class="error-bot"></div>
            <p class="error">{{errorMessage}}</p>
        </span>
    </div>
</app-overlay>
