.cell {
    display: block;
    box-shadow: 0 10px 30px -10px rgba(0, 64, 128, 0.2);
    height: 15vh;
    width: 15vh;
    cursor: pointer;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    border: solid 2.5px #f2f2f2;
    margin: 5px;
}

.cell:hover {
    transform: scale(1.05);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.player-cell {
    background: url(/assets/x-icon.svg) no-repeat center;
    background-color: white;
    background-size: 10vh 10vh;
}

.opponent-cell {
    background: url(/assets/o-icon.svg) no-repeat center;
    background-color: white;
    background-size: 10vh 10vh;
}

.unused-cell {
    background: none;
    background-color: white;
    background-size: 10vh 10vh;
}