.overlay {
    z-index: 1000;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(244, 244, 244, 0.8);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.content {
    background-color: white;
    border-radius: 25px;
    opacity: 1;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}