<div class=now-playing-container>
    <div class="now-playing">now playing</div>
</div>
<div class="vs-container">
  <div data-id="playerHead" class="player {{playerStyle}} {{playerActiveStyle}}">
    <div data-id="playerName" class="name {{playerActiveStyle}} no-select">you</div>
  </div>
  <div class="vs"></div>
  <div data-id="opponentHead" class="player {{opponentStyle}} opponent {{opponentActiveStyle}}" (click)=changeOpponent()>
    <div data-id="opponentName" class="name {{opponentActiveStyle}} no-select">{{opponent.type == botType ? 'tic-tac-tobot' : 'opponent'}}</div>
  </div>
  <div *ngIf="firstTimePlay" data-id="message-bubble" class="bounce">
      <app-message-bubble>
        <div class="header">
            <div data-id="header-head" class="{{opponentStyle}} header-head"></div>
            <span data-id="header-text" class="header-text">did you know?</span>
        </div>
        <div data-id="message" class="message">
            <span class="message-text" *ngIf="ticTacTobotMessage">you can click on me to play</span>
            <span class="message-text" *ngIf="ticTacTobotMessage">against a friend</span>
            <span class="message-text" *ngIf="playerMessage">and you can click on <i>me</i> to</span>
            <span class="message-text" *ngIf="playerMessage">play against tic-tac-tobot</span>
        </div>
      </app-message-bubble>
  </div>
</div>
