.vs-container {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
}

.now-playing-container {
    height: 3vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
}

.name-container {
    height: 3vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    background-color: white;
    background-size: 10vh 10vh;
    min-height: 10vh;
    min-width: 10vh;
    margin: 7vh;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player:hover {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.head-1 {
    background: url(/assets/head-1.svg) no-repeat center;
}
.head-2 {
    background: url(/assets/head-2.svg) no-repeat center;
}

.head-3 {
    background: url(/assets/head-3.svg) no-repeat center;
}

.head-4 {
    background: url(/assets/head-4.svg) no-repeat center;
}

.head-5 {
    background: url(/assets/head-5.svg) no-repeat center;
}

.head-6 {
    background: url(/assets/head-6.svg) no-repeat center;
}

.head-7 {
    background: url(/assets/head-7.svg) no-repeat center;
}

.tic-tac-tobot {
    background: url(/assets/tic-tac-tobot.svg) no-repeat center;
}

.vs {
    background: url(/assets/vs-icon.svg) no-repeat center;
    background-color: white;
    background-size: 5vh 5vh;
    min-height: 5vh;
    min-width: 5vh;
    margin: 3.5vh;
}

.now-playing {
    color: lightgrey;
    font-size: 3vh;
}

.name {
    color: lightgrey;
    font-size: 2vh;
    transition: all .2s ease-in-out;
    padding-top: 14vh;
    transform: none;
}

.opponent {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.opponent:hover {
    transform: scale(1.1);
}

.active {
    font-weight: 700;
    transform: scale(1.1);
    color: grey;
}

.no-select {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

.bounce {
    min-width: 2vh;
    min-height: 2vh;
    animation:bounce 1s infinite;
    position: relative;
    color: lightgrey;
    font-size: 3vh;
    font-weight: 700;
}

@keyframes bounce {
    0%       { bottom:5px; }
    25%, 75% { bottom:15px; }
    50%      { bottom:20px; }
    100%     {bottom:0;}
}

.header-head {
    background-color: white;
    background-size: 5vh 5vh;
    min-height: 5vh;
    min-width: 5vh;
}

.header-text {
    font-size: 2.5vh;
    padding-left: 3vh;
}

.message-text {
    font-size: 2vh;
    color: lightgrey;
    font-weight: 300;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center; 
    width: 30vh;  
}

.message {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding-top: 1.5vh;
}

@media only screen and (max-width: 600px) {
    .name {
        display: none;
    }
    
    .bounce {
        display: none;
    }
}
